.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 12px;
  margin: 2%;
  min-height: 30vh;
  min-width: 18vw;
  /* background: url('https://i.pinimg.com/736x/8f/a0/51/8fa051251f5ac2d0b756027089fbffde--terry-o-neill-al-pacino.jpg') center center no-repeat; */
  background-color: rgba(0, 0, 0, 0.4);

  backdrop-filter: blur(5px);

  display: flex;
  justify-content: center;
  align-items: center;

  background-size: 300px;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;

  font-family: "Italiana", sans-serif;
  font-size:2.8vw;
  filter: blur(0px);

}



.card:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 215, 0,0.8);
  background-size: 600px;
  filter: blur(0px);
}



.titleCard{

}
