.PageMain {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  background-image: url('../public/images/barberTheme.jpg');
  background-size: cover;
  background-repeat: no-repeat;

}


.cover{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.45);
}






@media (prefers-reduced-motion: no-preference) {

}
